@model Application.ViewModels.User.UserViewModel
@{
    ViewData["Title"] = "جزئیات کاربر";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>اطلاعات کاربر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            نام کامل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            ایمیل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            موبایل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">ویرایش</a> |
    <a asp-action="Index" class="btn btn-sm btn-outline-info">بازگشت به لیست</a>
</div>
