@model IEnumerable<Application.ViewModels.User.UserViewModel>
@{
    ViewData["Title"] = "لیست کاربران";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">ایجاد کاربر جدید</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                نام کامل
            </th>
            <th>
                ایمیل
            </th>
            <th>
                موبایل
            </th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">جزئیات</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
